<!DOCTYPE html>
<html>
<head>
    <title>泸州绿荫环保科技有限公司</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        } </script>
    <!-- //for-mobile-apps -->
    <link href="/front/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/front/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="/front/css/flexslider.css" type="text/css" media="screen" property=""/>
    <!-- js -->
    <script type="text/javascript" src="/front/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="/front/js/move-top.js"></script>
    <script type="text/javascript" src="/front/js/easing.js"></script>
    <script type="text/javascript" src="/front/js/wySilder.min.js"></script>


    <style type="text/css">
        .case {
            width: 100%;
            height: auto;
            overflow: hidden;
        }

        .case li {
            list-style: none;
            float: left;
            padding: 5px;
            height: auto;
        }

        .case h4 {
            text-align: center;
        }
    </style>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });

            $(".js-silder").silder({
                auto: true,//自动播放，传入任何可以转化为true的值都会自动轮播
                speed: 20,//轮播图运动速度
                sideCtrl: true,//是否需要侧边控制按钮
                bottomCtrl: true,//是否需要底部控制按钮
                defaultView: 0,//默认显示的索引
                interval: 2000,//自动轮播的时间，以毫秒为单位，默认3000毫秒
                activeClass: "active",//小的控制按钮激活的样式，不包括作用两边，默认active
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
<!-- header -->
<div class="top-nav">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav class="menu menu--shylock">
                    <ul class="nav navbar-nav link-effect-7" id="link-effect-7">
                        <li class="active"><a href="/" data-hover="首页">首页</a></li>
                        <li><a href="/service" data-hover="产品服务">产品服务</a></li>
                        <li><a href="/case" data-hover="客户案例">客户案例</a></li>
                        <li><a href="/knowledge" data-hover="科普知识">科普知识</a></li>
                        <li><a href="/about" data-hover="关于我们">关于我们</a></li>
                        <li><a href="contact" data-hover="联系我们">联系我们</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>
<!-- //header -->
<!-- banner -->
<div class="js-silder">
    <div class="silder-scroll">
        <div class="silder-main">
            <% if(data && data.banner) {
            data.banner.forEach(function (banner) { %>
            <div class="silder-main-img">
                <img src="<%= banner.img%>" alt="<%= banner.title%>">
            </div>
            <% })
            } %>
        </div>
    </div>
</div>
<!-- //banner -->

<!-- gallery -->
<div class="gallery">
    <h3 class="head"><span class="glyphicon" aria-hidden="true"></span>客户案列</h3>
    <!--<video width="320" height="240" controls="controls">
        <source src="http://localhost:8080/video?name=IMG_0219.mp4" type="video/mp4">
    </video>-->

    <div class="w3_gallery_grids">
        <ul class="case">
            <% if(data && data.case) {
            data.case.forEach(function (bean) { %>
            <li>
                <a href="/content/detail/<%= bean.id%>">
                    <img src="<%= bean.img%>" alt=" " width="320px" height="320px"/>
                </a>
                <div style="margin-top: 5px;">
                    <h4><%= bean.title%></h4>
                </div>
            </li>
            <% })
            } %>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //gallery -->
<div class="banner-bottom" style="background: url('/front/images/index_pic2.jpg') center no-repeat">
    <div class="container">
        <div class="">
            <p style="text-indent: 40px;letter-spacing: 5px;line-height: 34px;color: #f2f3f5;">
                浙大冰虫依托于浙江大学实验室科研力量，由来自浙大环境与资源学院、医学院、公共卫生学院以及中科院、日本理化学研究院和意大利维罗纳大学的多位博士和硕士支持创办。
                公司致力于室内空气检测、室内空气污染治理及空气净化产品的研发、生产和销售。自成立以来，冰虫已为全国4500多家企事业单位及36000多户家庭提供了室内空气检测及治理服务，其中包括杭州G20峰会、
                “一带一路”标志性建筑-敦煌文博会馆、宁夏银川中国-阿拉伯国家博览会、乌镇世界互联网大会、世界工业设计大会等重大国家工程项目。目前，浙大冰虫在整个行业内拥…
                <a href="" class="" data-text="">
                    <span style="color: #f2f3f5;">>>more</span>
                </a>
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="service">
    <h3 class="servciehead"><span aria-hidden="true"></span>产品与服务</h3>
    <div class="w3_gallery_grids">
        <ul class="case">
            <% if(data && data.service) {
            data.service.forEach(function (bean) { %>
            <li>
                <a href="/content/detail/<%= bean.id%>">
                    <img src="<%= bean.img%>" alt=" " width="320px" height="320px"/>
                </a>
                <div style="margin-top: 5px;">
                    <h4><%= bean.title%></h4>
                </div>
            </li>
            <% })
            } %>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<%include footer.ejs%>
<!-- for bootstrap working -->
<script src="/front/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
<!-- //here ends scrolling icon -->
</body>
</html>